<div class="jumbotron hero-unit">
	<h1> My Backbone Project </h1>
	<img src="https://dl.dropboxusercontent.com/u/26906414/learning_yeoman/images/yo-bb.png" class="img-"/>
	<p class="lead">
		A starting point for a modern BackboneJS application.
	</p>
</div>