<!--
<ol class="breadcrumb">
	<li>
		<a href="#">Home</a>
	</li>
	<li>
		<a href="#/posts">Posts</a>
	</li>
	<li class="active">
		Detail
	</li>
</ol>
-->
 
<div class="page-header">
	<h1>{{title}}</h1>
</div>

<div class="row">
	<div class="col-xs-7 col-sm-8">
		{{body}}
	</div>
	<div class="col-xs-5 col-sm-4">
		<aside class="well well-sm">
			<img src="{{image}}" class="img-placeholder"/>
		</aside>
	</div>
</div>