@import url('bootstrap.min.css');
body {
    background: #fff;
    padding: 10px 25px;
}
.brand a {
    color: #999;
    text-decoration: none;
}

.jumbotron {
    text-transform: lowercase;
    text-align: center;
    padding: 15px 25px;
}
.jumbotron h1 {

}
.jumbotron img{
    margin: 15px auto;
}

.post img{
    width:55px;
    margin-right: 10px;
}
footer {
    
    font-size: .8em;
    color: #777 !important;
    text-align: center;
}
