@import url('bootstrap.min.css');
body {
    background: #fafafa;
}
body {

    padding: 10px 25px;
}

.jumbotron {
    text-transform: uppercase;
    text-align: center;
    
}
.jumbotron h1{
    font-size:2em;
    font-family:'Droid Sans',sans-serif;
}
.jumbotron img{
    margin: 15px auto;
}

.post img{
    width:55px;
margin-right: 10px;
}

footer{
	text-align:center;
	font-size: .8em;
	color: #999;
}