
.idea/misc.xml

node_modules
_SpecRunner.html
test/temp
coverage
#Build files
.sass-cache
.tmp
.grunt


app/bower_components

#Bower Components
test/bower_components/
.idea/.workspace.xml
.idea/*
.grunt
.project
_SpecRunner.html
coverage
